---
layout: default
---

{% include header.html %}

<div class="portfolio">
    <h1>stable:</h1>
    <ul>
        {% for projects in site.data.projects %}
        <li>
			{% if projects.status == "stable" %}
            	<a href="{{ projects.url }}">{{ projects.name }}</a>, {{ projects.description }}
			{% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

<div class="portfolio">
    <h1>testing:</h1>
    <ul>
        {% for projects in site.data.projects %}
        <li>
			{% if projects.status == "testing" %}
            	<a href="{{ projects.url }}">{{ projects.name }}</a>, {{ projects.description }}
			{% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

<div class="portfolio">
    <h1>unstable:</h1>
    <ul>
        {% for projects in site.data.projects %}
        <li>
			{% if projects.status == "unstable" %}
            	<a href="{{ projects.url }}">{{ projects.name }}</a>, {{ projects.description }}
			{% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

<div class="portfolio">
    <h1>planning & initial development:</h1>
    <ul>
        {% for projects in site.data.projects %}
        <li>
			{% if projects.status == "planning" %}
            	<a href="{{ projects.url }}">{{ projects.name }}</a>, {{ projects.description }}
			{% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

