---
layout: default
---

{% include header.html %}

You can view a list of the projects I work on by clicking on "projects" above.

<pre>


</pre>

<div class="blog">
    <h1>blog posts:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
