---
layout: default
---



<div class="about">
    <a class="about__back" href="/">&lt;-- home</a>
    <h1 class="about__title">about me:</h1>
    <div class="about__content">
        {{ content }}
    </div>
</div>
